<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
	<style>

	</style>
</head>

<body>
	<!--<div id="app">
		<input type="text" v-model="message"/>
		<h1>{{message}}</h1>
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				message: '',
			},
			methods: {
				
			}
		});
	</script>-->

	<!--<div id="app">
		<input type="text" :value="message" @input="setMessage"/>
		<h1>{{message}}</h1>
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				message: '',
			},
			methods: {
				setMessage(evt){
					this.message = evt.target.value;
				}
			}
		});
	</script>-->

	<div id="app">
		<textarea v-model="message"></textarea>
		<pre>{{message}}</pre><!--可換行-->
		<h1 style="white-space: pre;">{{message}}</h1><!--可換行-->
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				message: '',
			},
			methods: {

			}
		});
	</script>
</body>

</html>