<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
	<style>
		.img.hide{
			opacity: 0;
			transform: scale(3);
		}	
		.img{
			transition: all 1s;
		}
	</style>
</head>

<body>
	<!-- img load -->
	<!--<div id="app">
		<h4 v-if="loading">Loading</h4>
		<h4 v-else>complete</h4>
		<img @load="loading=false" src="https://loremflickr.com/320/240" />
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				loading: true,
			},
			methods:{

			}
		});
	</script>-->
	<!-- img load -->
	<div id="app">
		<h4 v-if="loading">Loading</h4>
		<h4 v-else>complete</h4>
		<img :class="imgClass" @load="loading=false" src="https://loremflickr.com/320/240" />
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				loading: true,
			},
			computed: {
				imgClass(){
					if(this.loading){
						return 'img hide';
					}
					else{
						return 'img';
					}
				}
			}
		});
	</script>
</body>

</html>