<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
	<style>
		#app {
			text-align: center;
		}
	</style>
</head>

<body>
	<!--v-if -->
	<!--<div id="app">
		<input type="checkbox" v-model="checked"/>
		<h1 v-if="checked">Hello</h1>
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				checked: false,
			},
		});
	</script>-->

	<div id="app">
		<input type="checkbox" v-model="checked1" />
		<input type="checkbox" v-model="checked2" />
		<h1 v-if="checked1">Hello</h1>
		<h1 v-else-if="checked2">Hey</h1>
		<h1 v-else>Hi</h1>
	</div>
	<script>
		const vm = new Vue({
			el: '#app',
			data: {
				checked1: false,
				checked2: false,
			},
		});
	</script>
</body>

</html>